<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>HSBC Full stack developer</span>
            <!-- Filler that pushes the menu button to the end of the toolbar -->
            <span fxFlex></span>

            <button mat-icon-button [matMenuTriggerFor]="themeMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-menu #themeMenu>
      <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    </mat-menu>
    <app-feature-table></app-feature-table>
    <hr>
</div>

<div class="flex column center middle loading" *ngIf="isLoading">
    <mat-spinner color="#2196f3" style="margin-left: 50%; margin-top: 20%">
        <div id="cssload-tag" style="margin-top: 36px; font-weight: 200;">
            <span class="tag">Please</span><span class="tag">&nbsp;</span><span class="tag">Wait</span>
        </div>
    </mat-spinner>
</div>
