.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  cursor: pointer;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.nextPage {
  margin-left: 50%;
  margin-right: 42%;
  padding: 3px 3px 3px 0px;
}

.pagination {
  margin-top: -50px;
}

.btn {
  padding: 15px;
}

.notFound {
  margin: 23% 22% 0% 34%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

mat-table {
  overflow: auto;
  width: 1000px;
}

.desc {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedUser {
  width: 100%;
  height: 200px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

//#customers th {
//  padding-top: 12px;
//  padding-bottom: 12px;
//  text-align: left;
//  background-color: #4CAF50;
//  color: white;
//}
