<ng-container *ngIf="bblDetailsNotFound === false">
    <div class="example-header">
        <mat-form-field>
            <input lable="search" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">
      <!--  <mat-table [dataSource]="bblDetails" matSort class="mat-elevation-z8" [style.width.px]="clientWidth">
            &lt;!&ndash; get user details &ndash;&gt;
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row" matTooltip="click here to see detail page" (click)="getClickData(row)">
                    <mat-icon>details</mat-icon>
                </mat-cell>
            </ng-container>
            &lt;!&ndash; member_id &ndash;&gt;
            <ng-container matColumnDef="Team">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Team}}</mat-cell>
            </ng-container>
            &lt;!&ndash; loan_amnt &ndash;&gt;
            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Name}}</mat-cell>
            </ng-container>
            &lt;!&ndash; funded_amnt_inv &ndash;&gt;
            <ng-container matColumnDef="Nationality">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.Nationality}}</mat-cell>
            </ng-container>
            &lt;!&ndash; term &ndash;&gt;
            <ng-container matColumnDef="Is Captain(1=yes)">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Is Captain(1=yes)</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row['Is Captain(1=yes)']}}</mat-cell>
            </ng-container>
            &lt;!&ndash; int_rate &ndash;&gt;
            <ng-container matColumnDef="int_rate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Int. Rate</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.int_rate}}</mat-cell>
            </ng-container>
            &lt;!&ndash; installment&ndash;&gt;
            <ng-container matColumnDef="installment">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Installment</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.installment}}</mat-cell>
            </ng-container>
            &lt;!&ndash;grade&ndash;&gt;
            <ng-container matColumnDef="grade">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.grade}}</mat-cell>
            </ng-container>
            &lt;!&ndash;emp_title&ndash;&gt;
            <ng-container matColumnDef="emp_title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.emp_title}}</mat-cell>
            </ng-container>
            &lt;!&ndash;emp_length&ndash;&gt;
            <ng-container matColumnDef="emp_length">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emp. Length</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.emp_length}}</mat-cell>
            </ng-container>
            &lt;!&ndash;home_ownership&ndash;&gt;
            <ng-container matColumnDef="home_ownership">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Home Ownership</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.home_ownership}}</mat-cell>
            </ng-container>
            &lt;!&ndash;annual_inc&ndash;&gt;
            <ng-container matColumnDef="annual_inc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Annual Inc.</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.annual_inc}}</mat-cell>
            </ng-container>
            &lt;!&ndash;emp_title&ndash;&gt;
            <ng-container matColumnDef="verification_status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Verification Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.verification_status}}</mat-cell>
            </ng-container>
            &lt;!&ndash;issue_d&ndash;&gt;
            <ng-container matColumnDef="issue_d">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Issue_d</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.issue_d}}</mat-cell>
            </ng-container>
            &lt;!&ndash;loan_status&ndash;&gt;
            <ng-container matColumnDef="loan_status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.loan_status}}</mat-cell>
            </ng-container>

            &lt;!&ndash;desc&ndash;&gt;
            <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Desc</mat-header-cell>
                <mat-cell class="desc" *matCellDef="let row"> {{row?.desc}}</mat-cell>
            </ng-container>
            &lt;!&ndash;purpose&ndash;&gt;
            <ng-container matColumnDef="purpose">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Purpose</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.purpose}}</mat-cell>
            </ng-container>
            &lt;!&ndash;title&ndash;&gt;
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.title}}</mat-cell>
            </ng-container>
            &lt;!&ndash;addr_state&ndash;&gt;
            <ng-container matColumnDef="addr_state">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address State</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.addr_state}}</mat-cell>
            </ng-container>
            &lt;!&ndash;last_pymnt_d&ndash;&gt;
            <ng-container matColumnDef="last_pymnt_d">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Payment date</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.last_pymnt_d}}</mat-cell>
            </ng-container>
            &lt;!&ndash;last_pymnt_amnt&ndash;&gt;
            <ng-container matColumnDef="last_pymnt_amnt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last payment Amount</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.last_pymnt_amnt}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
            &lt;!&ndash;                  <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>&ndash;&gt;
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
      -->
        <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
    </div>

    <div>
        <h1>bblPlayerDetails => Jonathan Vandiar</h1>
        {{ bblPlayerDetails | json }}
    </div>

    <div>
        <h1>bblTeamDetails => Adelaide Strikers</h1>
        <div *ngFor="let row of bblTeamDetails">{{row | json}}</div>
    </div>

    <mat-divider></mat-divider>
</ng-container>
<div *ngIf="bblDetailsNotFound === true" class="notFound">
    Data not found
</div>
